body {
    background-color: #0000AA;
    font-family: 'perfect_dos_vga_437_winRg', sans-serif;
    color: #0000AA;
}
h1 {
    background-color: #AA5500;
    text-shadow: 1px 1px #00AA00;
}
h2, .selectedBlockLink:after, footer {
    color: #AA5500;
}
#ulBlockchain li:before, .selectedBlockLink {
    border: 2px solid #AA5500;
}
.blockNumber, .blockDescription {
    background-color: #AA5500;
    border-width: 2px 3px 2px 3px;
    border-color: #AA0000;
    outline: 2px solid #AA5500;
    box-shadow: 4px 4px #00AA00;
}
#easterEgg {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../img/sierra_002.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 3;
    display: none;
}
#easterEgg:before, #easterEgg:after {
    position: relative;
    top: calc(50% + 154px);
    left: calc(50% - 304px);
    color: #AA5500;
    font-size: larger;
}
#easterEgg:before {
    content: "Connect Ethereum MainNet";
}
#easterEgg:after {
    content: "_";
    position: relative;
    animation: blink-animation 1s steps(2, start) infinite;
    -webkit-animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}