h1 {
    margin: 2rem;
    font-size: large;
    font-weight: bold;
    padding-left: 1rem;
}
h2 {
    margin-left: 2rem;
    font-size: medium;
    padding-left: 1rem;
}
#ulBlockchain {
    list-style-type: none;
}
#ulBlockchain li {
    display: flex;
    height: 5em;
}
#ulBlockchain li:before {
    content: "";
    position: relative;
    left: calc(2rem + 7.5ch + 2px);
    top: calc(3em + 2px);
    width: 0;
    height: calc(2em - 2px);
    border: 2px solid #000;
}
.blockNumber {
    padding: 15px;
    width: 15ch;
    height: 3em;
    margin: 3px 0 0 2em;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #000;
}
.blockDescription:before {
    content: "";
    display: inline-block;
    position: relative;
    top: calc(-0.5em + 3px);
    left: -22px;
	border: 2px solid #000;
	width: 14px;
	height: 0px;
}
.blockDescription {
	position: relative;
	top: 0;
	left: 20px;
    box-sizing: border-box;
    width: calc(100% - 20px - 15ch - 4rem);
    height: 28em;
    margin-top: 3px;
    padding: 15px 0;
    word-wrap: break-word;
    white-space: pre-line;
    border: 2px solid #000;
    display: none;
}
.selectedDescription {
    display: inline-block;
}
footer {
	position: fixed;
    bottom: 0px;
    box-sizing: padding-box;
    width: calc(100% - 2rem);
    text-align: right;
    
    padding-right: 2rem;
    background-color: #000;
    color: #FFF;
    opacity: 0.5;
}
